@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Admin</a>
<a class="btn btn-primary" asp-controller="Student" asp-action="StudentPage">Student</a>

